<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/fragments/head :: head"/>
<script th:src="@{/libs/ckeditor/ckeditor.js}"></script>

<body>
<div th:replace="client/fragments/header :: header"></div>

<div th:replace="client/fragments/navigation :: nav"></div>


<div class="boxed-content-wrapper clearfix">
    <div class="inner">
        <div class=""
             style="line-height: 30px; margin-bottom: 10px; font-size: 15px">
            <div itemscope="" itemtype="https://schema.org/BreadcrumbList">

					<span itemprop="itemListElement" itemscope=""
                          itemtype="https://schema.org/ListItem"> <a itemprop="item"
                                                                     th:href="@{/}"> <span itemprop="name">Home</span>
					</a>
					</span> &gt; <span itemprop="itemListElement" itemscope=""
                                       itemtype="https://schema.org/ListItem"> <a
                    th:href="@{/page/article/{code}(code=${currArticle.parentArticle.code}, id=${currArticle.parentArticle.id})}"
                    itemprop="item"> <span th:text="${currArticle.parentArticle.name}"
                                           itemprop="name">Parent Article</span>

					</a> &gt;
					</span> <span itemprop="itemListElement" itemscope=""
                                  itemtype="https://schema.org/ListItem"> <a
                    th:href="@{/page/shell(id=${currArticle.id})}" itemprop="item">
							<span th:text="${currArticle.name}" itemprop="name">Current
								Article</span>

					</a> &gt;
					</span> <span th:text="${post.title}" itemprop="name">Current Post</span>

            </div>
        </div>
    </div><!-- Breadcrumb -->

    <div th:if="${!currArticle.root}" class="inner">
        <div th:each="article: ${articles}">
            <nav th:if="${article.id == currArticle.parentArticle.id}"
                 class="second_navigation" style="height: 35px">
                <ul>
                    <li th:each="item : ${article.childArticles}">
                        <a th:href="@{/page/article/{code}(code=${item.code}, id=${item.id})}"
                           th:text="${item.name}">
                            Second Navigation
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- Second Navigation -->


    <div class="boxed-content-wrapper clearfix">
        <div class="inner" style="margin-top: 20px;">
            <div class="main_container">
                <div class="main-col" id="main_container">
                    <div class="base-box hasgoto">
                        <h1 id="main_title" class="post-tile entry-title"
                            itemprop="headline" th:text="${post.title}"></h1>
                        <div class="mom-post-meta single-post-meta">
							<span class="author vcard"> Post by: <span class="fn">Administrator</span>

								| Created: <time
                                        th:text="${#dates.format(post.dateCreate, 'dd-MMM-yyyy')}"
                                        itemprop="datePublished" class="updated"></time>
							</span>
                        </div>
                        <div th:remove="tag" th:utext="${post.content}"></div>
                    </div>


                    <div id="comments" class="comments-area">
                        <div id="main_comment_wrapper">
                            <div id="respond" class="comment-respond">
                                <form th:action="@{/post}" method="POST"
                                      id="commentform" class="comment-form">


                                    <a style="display: none" id="cancel-comment-reply-link"
                                       href="#">EXIT FORM</a>
                                    <p class="comment-notes">
										<span id="email-notes"><strong>Post comment</strong>:
											Your information will be protected.</span> <br> <span
                                            style="display: block; margin-top: 10px"><strong>Note</strong>:
											Use <span style="color: red">{Code}</span> to post code, and
											your comments will be carefully moderated.</span>
                                    </p>

                                    <textarea name="content"></textarea>
                                    <!-- Comment Content -->
                                    <script>
                                        CKEDITOR.replace('content');
                                    </script>

                                    <br> <input type="text" th:value="${post.id}" name="id"
                                                hidden="true"> <input name="createdByName"
                                                                      id="cm_name" class="append-fullname" type="text"
                                                                      style="float: left; width: 40%; margin-left: 5%"
                                                                      placeholder="Name (required)" value="" size="30"
                                                                      required>
                                    <input name="createdByEmail" id="cm_email" class="append-email"
                                           type="email"
                                           style="float: right; width: 40%; margin-right: 5%"
                                           placeholder="Email (required)" value="" size="30" required>
                                    <div style="clear: both; height: 10px"></div>
                                    <div style="text-align: center;margin-bottom: 20px">
                                        <input name="submit" type="submit" id="submit-comment"
                                               class="submit" value="Post comment">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div><!-- Comment -->


                    <div id="main_comment_list">

                        <div th:if="${!comments.empty}" th:each="comment : ${comments}"
                             class="comment even thread-even depth-1 single-comment"
                             style="list-style-type: none">
                            <div class="comment-wrap base-box">

                                <div class="comment-content ">
                                    <img src="https://freetuts.net/public/logo/main-logo.png"
                                         class="avatar user-65-avatar avatar-60 photo" style="float:left" width="60"
                                         height="60" alt="main logo png">
                                    <div class="comment-detail-content" style="padding-left:70px">
                                        <div class="comment-meta">
                                            <h4 th:text="${comment.username}"></h4>
                                            <span th:text="${#dates.format(comment.dateCreate, 'dd-MM-yyyy - hh:mm:ss')}"></span>
                                        </div>
                                        <div class="comment-text">
                                            <div th:remove="tag" th:utext="${comment.content}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="clear"></div>
            <div class="sidebar main-sidebar" id="right_sidebar"
                 style="position: relative; width: auto; height: auto;">
                <div id="f_right_sidebar">
                    <!-- <div th:if="${!posts.empty}"
                            class="table-responsive" >
                            <table class="bordered">
                                <thead>
                                    <tr>
                                        <th th:text="${currArticle.name}">Head Table</th>
                                    </tr>
                                </thead>
                                <tbody th:each="item : ${posts}">
                                    <tr>
                                        <td>
                                            <a th:href="@{/page/content(id=${item.id})}"
                                                th:text="${item.title}">Post Title</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>


<div th:replace="client/fragments/footer :: footer"></div>


</body>
</html>