<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/fragments/head :: head" />

<body>
	<div th:replace="client/fragments/header :: header"></div>

	<div th:replace="client/fragments/navigation :: nav"></div>

	<main>

		<div class="boxed-content-wrapper clearfix">
			<div class="inner">
				<div class=""
					style="line-height: 30px; margin-bottom: 10px; font-size: 15px">
					<div itemscope="" itemtype="https://schema.org/BreadcrumbList">

						<span itemprop="itemListElement" itemscope=""
							itemtype="https://schema.org/ListItem"> <a itemprop="item"
							th:href="@{/}"> <span itemprop="name">Home</span>
						</a>
						</span> &gt; <span th:text="${mainArticle.name}" itemprop="name">mainent
							Article</span>

					</div>
				</div>
			</div><!-- Breadcrumb -->


			<div th:if="${!mainArticle.root}" class="inner">
				<nav class="second_navigation" style="height: 35px">
					<ul>
						<li th:each="child: ${mainArticle.childArticles}"><a
							th:href="@{/page(id=${child.id})}"
							th:text="${child.name}"> Second Navigation </a></li>
					</ul>
				</nav>
			</div><!-- Second Navigation -->


			<div class="inner" style="margin-top: 20px;">
				<div class="main-container">
				
					<div  th:replace="client/fragments/reviews :: reviews"></div>
					
				</div>

				
				<div th:if="${!mainArticle.root}" class="news-box base-box nb-style3 nb-style4 object-title">
					
					<header th:if="${postIntros}" class="nb-header">
						<h2 class="nb-title">
							<span>Posts</span>
						</h2>
					</header>
					
					<div  th:replace="client/fragments/posts_intro :: postIntros">
					</div><!-- Table of Contents - Posts -->

					<div th:if="${postIntros != null and postIntros.totalPages > 0}" class="pagination">
						<ul>

							<li th:class="${postIntros.number == 0} ? 'disabled' : ''">
								<a th:if="${!postIntros.first}" th:text="'<'"
								th:href="@{/page(id=${mainArticle.id},
								page=${pageNumbers[postIntros.number] - 1})}">Previous</a>
								
							</li>


							<li th:each="pageNumber : ${pageNumbers}">
								<span th:if="${pageNumber == postIntros.number + 1}" th:text=${pageNumber}></span>
								<a th:if="${pageNumber != postIntros.number + 1}"
								 	th:href="@{/page(id=${mainArticle.id},
									page=${pageNumber})}" 
									th:text=${pageNumber}>
									Page Link
								</a>
							</li>

							<li th:class="${postIntros.number + 1 >= postIntros.totalPages} ? 'disabled' : ''">
								<a th:if="${!postIntros.last}" th:text="'>'"
								th:href="@{/page(id=${mainArticle.id},
								page=${pageNumbers[postIntros.number] + 1})}">Next</a>
									
							</li>
						</ul>

					</div><!-- Pagination -->
					
				</div>
				<br>
			</div>
		</div>
	</main>


	<div th:replace="client/fragments/footer :: footer"></div>

</body>
</html>