<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/fragments/head :: head"/>

<body>

	<div th:replace="client/fragments/header :: header"></div>

	<div th:replace="client/fragments/navigation :: nav"></div>

	<main>
		
		<div class="boxed-content-wrapper clearfix">
			<div class="inner">
				<div class=""
					style="line-height: 30px; margin-bottom: 10px; font-size: 15px">
					<div itemscope="" itemtype="https://schema.org/BreadcrumbList">

						<span itemprop="itemListElement" itemscope=""
							itemtype="https://schema.org/ListItem"> 
							<a itemprop="item"
								th:href="@{/}"> <span
								itemprop="name">Home</span>		
							</a>
						</span> &gt; 
						
						<span itemprop="itemListElement" itemscope=""
							itemtype="https://schema.org/ListItem"> 
							<a th:href="@{/page/article/{code}(code=${parentArticle.code}, id=${parentArticle.id})}"
								itemprop="item">
								<span th:text="${parentArticle.name}"
									itemprop="name" >Path</span>
	
							</a> &gt;
						</span>  
						
						<span th:text="${post.article.name}" 
							itemprop="name">Current Article</span>

					</div>
				</div>
			</div>

		</div><!-- Breadcrumb -->
		
		<div class="inner" style="margin-top: 20px;">
			<div class="main-container" style="margin-bottom: 20px;">
				<div th:if="${post != null}"
					class="base-box single-box about-the-author" itemtype="http://schema.org/Article">
					<h1 th:text="${post.title}"
						id="main_title" class="post-tile entry-title" itemprop="headline">
					Title</h1>

					<div class="mom-post-meta single-post-meta">
						<span class="author vcard">
							Post by: 
							<span class="fn">
								Administrator 
							</span>
								
							| Created: <time th:text="${#dates.format(post.dateCreate, 'dd-MMM-yyyy')}" itemprop="datePublished" class="updated"></time>
						</span> 
					</div>
					
					
					<div class="entry-content">
						<p th:if="${post.shortDescription != null}"
							th:text="${post.shortDescription}">Short Description</p>
						
						<p th:if="${post.content != null}" th:text=${post.content}>Content</p>
						
						
						<div th:if="${!posts.empty}"
							class="table-responsive" >
							<table class="bordered">
								<thead>
									<tr>
										<th>
											Introduction								
										</th>
									</tr>
								</thead>
								<tbody th:each="item : ${posts}">
									<tr>
										<td>
											<a th:href="@{/post(id=${item.id})}"
												th:text="${item.title}">Post Title</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div><!-- Table of Contents -->

					</div>
				</div>

				<div th:if="${!parentArticle.childArticles.empty}" 
					class="review-cate two-column" >
					<div th:each="child : ${parentArticle.childArticles}" class="item">
						<a th:text="${child.name}"
							th:href="@{/shell(id=${child.id})}">
							<img alt="" src="">
						</a>
					</div>
					<br>
				</div><!-- Reviews -->
				
				<div class="clear"></div>

			</div>	
		</div>
	</main>


	<div th:replace="client/fragments/footer :: footer"></div>

</body>
</html>