<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/fragments/head :: head"/>

<body>
	<div th:replace="client/fragments/header :: header"></div>

	<div th:replace="client/fragments/navigation :: nav"></div>

	<main>
		
		<div class="boxed-content-wrapper clearfix">
			<div class="inner">
				<div class=""
					style="line-height: 30px; margin-bottom: 10px; font-size: 15px">
					<div itemscope="" itemtype="https://schema.org/BreadcrumbList">

						<span itemprop="itemListElement" itemscope=""
							itemtype="https://schema.org/ListItem"> 
							<a itemprop="item"
								th:href="@{/}"> <span
								itemprop="name">Home</span>		
							</a>
						</span> &gt; 
						
						<span itemprop="itemListElement" itemscope=""
							itemtype="https://schema.org/ListItem"> 
							<a th:href="@{/page(id=${subArticle.parentArticle.id})}"
								itemprop="item">
								<span th:text="${subArticle.parentArticle.name}"
									itemprop="name" >Path</span>
	
							</a> &gt;
						</span>  
						
						<span th:text="${subArticle.name}" 
							itemprop="name">Current Article</span>
					</div>
				</div>
				
			</div><!-- Breadcrumb -->
			
			<div th:if="${!subArticle.root}" class="inner">
				<div th:each="article: ${articles}">
					<nav th:if="${article.id == subArticle.parentArticle.id}" 
						class="second_navigation" style="height: 35px">
						<ul>
							<li th:each="item : ${article.childArticles}">
								<a  th:if="${item.id == subArticle.id}" style="color: #000;" 
									th:href="@{/sub/(id=${item.id})}"
									th:text="${item.name}"> 
									Second Navigation 
								</a>
								<a th:if="${item.id != subArticle.id}"  
									th:href="@{/sub(id=${item.id})}"
									th:text="${item.name}"> 
									Second Navigation 
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div><!-- Second Navigation -->

		
			<div class="inner" style="margin-top: 20px;">
				<div class="main-container">
					<div  th:replace="client/fragments/reviews :: reviews"></div>
					
					<div  th:replace="client/fragments/posts_intro :: postIntros"></div>

				</div>
			</div>	
		</div>
	</main>


	<div th:replace="client/fragments/footer :: footer"></div>

</body>
</html>