<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-fragments:: head"></head>
<body>


	<div th:replace="admin/admin-fragments :: navbar-admin"></div>

	<div class="container-fluid mt-3">

		<div class="row">
			<div class="col col-sm-2">

				<div class="card shadow">

					<h3 class="card-header">
						<a th:href="@{/admin/article}"
							style="text-decoration: none; color: orange; font-weight: bold">Articles</a>
					</h3>

					<ul style="list-style-type: none">
						<li th:each="mainArticle : ${articles}"
							class="nav-left-dropend dropdown-item dropdown-submenu p-0">
	
							<a th:text="${mainArticle.name}"
							th:href="@{/admin/article/{id}(id=${mainArticle.id})}"
							class="dropdown-item"> Navigation </a>

							<ul class="dropdown-menu mt-2 rounded-0 white border-0 z-depth-1"
								style="list-style-type: none">
								<li th:each="childArticle : ${mainArticle.childArticles}"
									class="dropdown-item dropdown-submenu p-0"><a
									th:text="${childArticle.name}"
									th:href="@{/admin/article/{id}(id=${childArticle.id})}"
									class="dropdown-toggle dropdown-item w-100"> Nav-item</a>

									<ul class="dropdown-menu  rounded-0 white border-0 z-depth-1">
										<li
											th:each="childArticleLevel2 : ${childArticle.childArticles}"
											class="dropdown-item p-0"><a
											th:text="${childArticleLevel2.name}"
											th:href="@{/admin/article/{id}(id=${childArticleLevel2.id})}"
											class="dropdown-item w-100"> Nav-item</a></li>

									</ul></li>

							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col col-sm-10">
				<div class="content">
					<div class="d-flex justify-content-between">
						<h2 th:text="${title}"></h2>
						<a th:href="@{/admin/article/detail}" role="button"
							class="btn btn-success"> <i class="fas fa-pencil-alt"></i> <span
							th:text="Create"></span>
						</a>

					</div>
					<div class="search-layout">
						<form th:if="${id == null}" class="form-inline"
							th:action="@{/admin/article}">
							<input class="form-control mr-sm-2" name="keyword" type="search"
								placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0"
								type="submit">Search</button>
						</form>
						<form th:if="${id != null}" class="form-inline"
							th:action="@{/admin/article/{id}(id=${id})}">
							<input class="form-control mr-sm-2" name="keyword" type="search"
								placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0"
								type="submit">Search</button>
						</form>
					</div>

					<table th:if="${!childArticles.empty}"
						class="table table-bordered table-fixed mt-3">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Name</th>
								<th scope="col">Root Status</th>
								<th scope="col">Parent Article</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="article: ${childArticles}">
								<td th:text="${article.id}"></td>
								<td th:text="${article.name}"></td>
								<td th:text="${article.root}"></td>
								<td th:if="${article.parentArticle != null}"
									th:text="${article.parentArticle.name}"></td>
								<td th:if="${article.parentArticle == null}">No Parent</td>

								<td>
									<a class="btn btn-info btn-sm"
										th:href="@{/admin/article/detail/{article-id}(article-id=${article.id})}">
										Detail
									</a>
								
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal"
										th:attrappend="data-target=${article.id}">
									  Delete
									</button>
									
									<!-- Modal -->
									<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true"
										th:attrappend="id=${article.id}">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>					     	  
									      </div>
									      <div class="modal-body">
									      	<p th:text="'Do you want to delete ' + ${article.name} + ' article?'"></p>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <a th:href="@{/admin/article/delete/{article-id}(article-id=${article.id})}"
									        	type="button" class="btn btn-danger">Delete
									        </a>
									      </div>
									    </div>
									  </div>
									</div>
								
								</td>

						</tbody>
					</table>

					<h5 th:if="${childArticles.empty}"
						style="color: red; text-align: center;">Not found any
						articles!</h5>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
	<!-- Custom JS -->
	<script th:src="@{/js/admin.js}"></script>
	<script>
		
	</script>
</body>
</html>