<div th:fragment="footer" id="footer_wrapper">
    <footer id="footer" class="text-lg-start">
        <div class="inner">
            <div class="one_fourth">
                <div class="widget momizat-posts">
                    <div class="widget-head">
                        <h3 class="widget-title">
                            <span style="font-weight: normal"> Contact</span>
                        </h3>
                    </div>
                    <div class="mom-posts-widget">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Read</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#" title="Guest Post">Guest Post</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="one_fourth">
                <div class="widget momizat-posts">
                    <div class="widget-head">
                        <h3 class="widget-title">
                            <span style="font-weight: normal"> Voucher</span>
                        </h3>
                    </div>
                    <div class="mom-posts-widget">
                        <ul>
                            <li><a href="#">Amazon</a></li>
                            <li><a href="#">Spotify</a></li>
                            <li><a href="#">Netflix</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="one_fourth">
                <div class="widget momizat-posts">
                    <div class="widget-head">
                        <h3 class="widget-title">
                            <span style="font-weight: normal">Service</span>
                        </h3>
                    </div>
                    <div class="mom-posts-widget">
                        <ul>
                            <li><a href="#">Room For Rent</a></li>
                            <li><a href="#">Building For Rent</a></li>
                            <li><a href="#">Land</a></li>
                            <li><a href="#">Lucky Number</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="one_fourth last">
                <div class="widget momizat-posts">
                    <div class="widget-head">
                        <h3 class="widget-title">
                            <span style="font-weight: normal">Introduction</span>
                        </h3>
                    </div>
                    <div class="mom-posts-widget">
                        <p>
                            Admin <strong style="color: pink">C7N</strong>, main
                            administrator.
                        </p>

                        <ul>
                            <li style="font-size: 15px">Email: c7n@lol.com</li>
                            <li style="font-size: 15px">Phone/Zalo: 0xxx</li>
                            <li style="font-size: 15px">Skype: c7n_lol</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>

    <div class="copyrights-area">
        <div class="inner">
            <p class="copyrights-text" style="text-align: center">
                <span> &copy E-Magazine-Town. All Right Reserved </span> <br>
            </p>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</div>
