<div th:fragment="reviews" 
	th:if="${post != null}"
	class="base-box single-box about-the-author">
	
	<h1 th:text="${post.title}" id="main_title"
		class="post-tile entry-title" itemprop="headline">Title</h1>

	<div class="mom-post-meta single-post-meta">
		<span class="author vcard">Post by: <span class="fn">
				Administrator </span> | Created: <time
				th:text="${#dates.format(post.dateCreate, 'dd-MMM-yyyy')}"
				itemprop="datePublished" class="updated"></time>
		</span>
	</div>


	<div class="entry-content">
		<p th:if="${post.shortDescription != null}"
			th:text="${post.shortDescription}"
			style="font-weight: bold; font-size: 25px; font-style: italic;"
			>Short Description
		</p>

		
		<div th:if="${mainArticle != null && mainArticle.root}" class="entry-content">
			<div th:each="child : ${mainArticle.childArticles}" class="review">
				<h2 th:if="${!child.childArticles.empty}" th:text="${child.name}"
					style="border: none; margin-top: 10px; margin-bottom: 0px;"
					data-stt="0" id="goto-h2-0">Review - Child Article</h2>


				<div th:if="${!child.childArticles.empty}"
					class="review-cate two-column">
	
					<div th:each="item : ${child.childArticles}" class="item">
						<a th:text="${item.name}"
							th:href="@{/shell(id=${item.id})}">
							<img alt="" src="">
						</a>
					</div>
	
				</div>
			</div><!-- Reviews Main page-->
		</div>
		
		<div th:if="${subArticle != null && subArticle.root && subArticle.parentArticle != null}">
			<div th:if="${!subArticle.childArticles.empty}"
				class="entry-content">
				<div class="review-cate two-column">
					<div th:each="child : ${subArticle.childArticles}" class="item">
						<a th:text="${child.name}" th:href="@{/shell(id=${child.id})}">
							<img alt="" src="">
						</a>
					</div>
				</div>
			</div>
		</div><!-- Reviews Sub page-->
			

		<div th:if="${post.content != null}" th:utext=${post.content}
			class="entry-content">
			Content
		</div><!-- Post Content -->

	</div>
</div>
